<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44382" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.101\DotnetTools\dotnet-watch\6.0.101-servicing.21569.16\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll;c:\program files\microsoft visual studio\2022\enterprise\common7\ide\commonextensions\microsoft\hotreload\Microsoft.Extensions.DotNetDeltaApplier.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="ws://localhost:54035/IO.Swagger/" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAty6mxOyd5GSTLZUU0dW8WDINe+smOX1oxLO/n4iiTYqqqFu51Jlqv1nvwGUJsQznQP1mQoPulpHjRMMsg6Zi6XPRVDQb/iv9kCZOjJCEulIG6jet3yGYOihzYXsLjLEAk3YC9KDmTTIh3Q2m5iKsc8ARegA2g+AqoA0+BasdvVR5ZkzMAtt4KAPcSzN/ZAzD7HJ2TVUyKW6+HQOC2bCvA+uV4eBK2Y+Z+h8IaiQAjBVbkOYHBeAHz2RJP3SiKCpInaETb7hebPxwTacY9VmzEVhts1v38YpDauW5zFyQPT2vZyN+21Rt2jgYcNavZF6q5c2pJimz94c/rkeLQRBADQIDAQAB" />
        <environmentVariable name="DOTNET_HOTRELOAD_NAMEDPIPE_NAME" value="433e8b29-1c41-4063-a0c0-ccfdfdc4bdbf" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>